body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Titan One', cursive;
    font-family: 'Trispace', sans-serif;
    margin:0;

}
.s1{
    color: orange;
}
section{
    display: flex;
}
.d1{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
}
section img {
    width: 80%;
}
.s2{
    background-image:linear-gradient(rgb(5, 145, 63), rgb(235, 13, 13));
    font-weight: 700;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;

}
.s3{
    padding-bottom:20px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}